<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="petform">
			<h:panelGrid columns="2">

				<h:outputText value="Add Pet with very simple form" />
				<h:commandLink action="addSimple?faces-redirect=true">
					<h:outputText value=" Add pet " />
				</h:commandLink>

				<h:outputText value="Add Pet with some validators" />
				<h:commandLink action="addValidation?faces-redirect=true">
					<h:outputText value=" Add pet " />
				</h:commandLink>

				<h:outputText value="Add Pet with JSF 2.0 ajax support" />
				<h:commandLink action="addAjax?faces-redirect=true">
					<h:outputText value=" Add pet " />
				</h:commandLink>

				<h:outputText value="Add Pet with RichFaces support" />
				<h:commandLink action="addRF?faces-redirect=true">
					<h:outputText value=" Add pet " />
				</h:commandLink>

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>