<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:define name="content">
		<h:form id="petForm">
			<h:panelGrid columns="2">
			
				<h:outputText value="#{msg.petNameLabel}" />
				<h:inputText id="name" value="#{petBean.pet.name}">
					<a4j:ajax render="messages" execute="@this" />
				</h:inputText>

				<h:outputText value="#{msg.petNumberLabel}" />
				<h:inputText id="number" value="#{petBean.pet.number}" />
				
					
					<h:outputText value="#{msg.petBreedLabel}" />
				<h:inputText id="breed" value="#{petBean.pet.breed}" />
				
				<h:outputText value="#{msg.petColourLabel}" />
				<h:inputText id="colour" value="#{petBean.pet.colour}" />
				
				<h:outputText value="#{msg.petVaccinationLabel}" />
				<h:selectBooleanCheckbox id="vaccination" value="#{petBean.pet.vaccination}" ></h:selectBooleanCheckbox>
				

				<h:outputText value="#{msg.petDobLabel}" />

				<rich:calendar value="#{petBean.pet.dateOfBirth}"
					id="calendar" datePattern="dd.MM.yyyy" showApplyButton="#{true}"
					cellWidth="24px" cellHeight="22px" style="width:200px">
					<a4j:ajax render="messages" execute="@this" />
				</rich:calendar>
			</h:panelGrid>

			<h:panelGrid>
				<h:messages for="" />
				<h:messages id="messages" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>

			<a4j:outputPanel ajaxRendered="true">
				<h:panelGrid columns="2">

					<h:outputText value="#{msg.petNameLabel}" />
					<h:outputText id="nameOutput"
						value="#{petBean.pet.name}" />

					<h:outputText value="#{msg.petNumberLabel}" />
					<h:outputText id="numberOutput" value="#{petBean.pet.number}" />


					<h:outputText value="#{msg.petDobLabel}" />
					<h:outputText id="dobOutput"
						value="#{petBean.pet.dateOfBirth}" />
					

	

				</h:panelGrid>
			</a4j:outputPanel>
		</h:form>

	</ui:define>
</ui:composition>